---
import MainLayout from "../layouts/MainLayout.astro";
import ConfigRangos from "../components/confiRangos.astro";


---
<MainLayout>
	<h1>Formulario config</h1>
	<ConfigRangos/>
</MainLayout>

</MainLayout>
